# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Proje#1-Pamento's_Revenge-2DShooter.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
